(
    show_hierarchy: None,
    show_menu: None,
    show_ticks: None,
    show_toolbar: None,
    show_tooltip: None,
    show_scope_tooltip: None,
    show_default_timeline: None,
    show_overview: None,
    show_statusbar: None,
    align_names_right: None,
    show_variable_indices: None,
    show_variable_direction: None,
    show_empty_scopes: None,
    show_hierarchy_icons: None,
    show_parameters_in_scopes: None,
    parameter_display_location: None,
    highlight_focused: None,
    fill_high_values: None,
    primary_button_drag_behavior: None,
    arrow_key_bindings: None,
    clock_highlight_type: None,
    hierarchy_style: None,
    autoload_sibling_state_files: None,
    autoreload_files: None,
    waves: Some((
        source: File("wave.fst"),
        format: Fst,
        active_scope: Some(WaveScope((
            strs: [
                "dut",
                "u_rx_dut",
                "u_eq",
                "u_ls",
            ],
            id: Wellen((14)),
        ))),
        items_tree: (
            items: [
                (
                    item_ref: (221),
                    level: 0,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (222),
                    level: 0,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (260),
                    level: 0,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (304),
                    level: 0,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (326),
                    level: 0,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (327),
                    level: 0,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (328),
                    level: 0,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (365),
                    level: 0,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (366),
                    level: 0,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (373),
                    level: 0,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (368),
                    level: 0,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (369),
                    level: 0,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (370),
                    level: 0,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (371),
                    level: 0,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (372),
                    level: 0,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (377),
                    level: 0,
                    unfolded: true,
                    selected: false,
                ),
            ],
        ),
        displayed_items: {
            (373): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "dut",
                            "u_rx_dut",
                            "u_eq",
                            "u_ls",
                        ],
                        id: Wellen((14)),
                    ),
                    name: "o_pilot",
                    id: Wellen((236)),
                    index: None,
                ),
                color: None,
                background_color: None,
                display_name: "o_pilot",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
                height_scaling_factor: None,
                analog: None,
            )),
            (370): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "dut",
                            "u_rx_dut",
                            "u_eq",
                            "p",
                            "p",
                        ],
                        id: Wellen((11)),
                    ),
                    name: "[1]",
                    id: Wellen((145)),
                    index: None,
                ),
                color: None,
                background_color: None,
                display_name: "[1] [31:0]",
                display_name_type: Unique,
                manual_name: None,
                format: Some("Unsigned"),
                field_formats: [],
                height_scaling_factor: None,
                analog: None,
            )),
            (369): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "dut",
                            "u_rx_dut",
                            "u_eq",
                            "p",
                            "p",
                        ],
                        id: Wellen((11)),
                    ),
                    name: "[0]",
                    id: Wellen((144)),
                    index: None,
                ),
                color: None,
                background_color: None,
                display_name: "[0] [31:0]",
                display_name_type: Unique,
                manual_name: None,
                format: Some("Unsigned"),
                field_formats: [],
                height_scaling_factor: None,
                analog: None,
            )),
            (328): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "dut",
                            "u_rx_dut",
                            "u_eq",
                        ],
                        id: Wellen((9)),
                    ),
                    name: "h_im",
                    id: Wellen((153)),
                    index: None,
                ),
                color: None,
                background_color: None,
                display_name: "h_im [15:0]",
                display_name_type: Unique,
                manual_name: None,
                format: Some("Signed"),
                field_formats: [],
                height_scaling_factor: Some(2.0),
                analog: Some((
                    settings: (
                        render_style: Interpolated,
                        y_axis_scale: Viewport,
                    ),
                )),
            )),
            (371): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "dut",
                            "u_rx_dut",
                            "u_eq",
                            "p",
                            "p",
                        ],
                        id: Wellen((11)),
                    ),
                    name: "[2]",
                    id: Wellen((146)),
                    index: None,
                ),
                color: None,
                background_color: None,
                display_name: "[2] [31:0]",
                display_name_type: Unique,
                manual_name: None,
                format: Some("Unsigned"),
                field_formats: [],
                height_scaling_factor: None,
                analog: None,
            )),
            (326): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "dut",
                            "u_rx_dut",
                            "u_eq",
                        ],
                        id: Wellen((9)),
                    ),
                    name: "h_dbg",
                    id: Wellen((154)),
                    index: None,
                ),
                color: None,
                background_color: None,
                display_name: "h_dbg [32:0]",
                display_name_type: Unique,
                manual_name: None,
                format: Some("Unsigned"),
                field_formats: [],
                height_scaling_factor: Some(2.0),
                analog: Some((
                    settings: (
                        render_style: Step,
                        y_axis_scale: Viewport,
                    ),
                )),
            )),
            (366): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "dut",
                            "u_rx_dut",
                            "u_eq",
                            "u_ls",
                        ],
                        id: Wellen((14)),
                    ),
                    name: "o_active",
                    id: Wellen((235)),
                    index: None,
                ),
                color: None,
                background_color: None,
                display_name: "o_active",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
                height_scaling_factor: None,
                analog: None,
            )),
            (377): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "dut",
                            "u_rx_dut",
                            "u_eq",
                            "u_ls",
                        ],
                        id: Wellen((14)),
                    ),
                    name: "sel",
                    id: Wellen((303)),
                    index: None,
                ),
                color: None,
                background_color: None,
                display_name: "sel",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
                height_scaling_factor: None,
                analog: None,
            )),
            (372): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "dut",
                            "u_rx_dut",
                            "u_eq",
                            "p",
                            "p",
                        ],
                        id: Wellen((11)),
                    ),
                    name: "[3]",
                    id: Wellen((147)),
                    index: None,
                ),
                color: None,
                background_color: None,
                display_name: "[3] [31:0]",
                display_name_type: Unique,
                manual_name: None,
                format: Some("Unsigned"),
                field_formats: [],
                height_scaling_factor: None,
                analog: None,
            )),
            (365): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "dut",
                            "u_rx_dut",
                            "u_eq",
                            "u_ls",
                        ],
                        id: Wellen((14)),
                    ),
                    name: "o_idx",
                    id: Wellen((234)),
                    index: None,
                ),
                color: None,
                background_color: None,
                display_name: "o_idx [9:0]",
                display_name_type: Unique,
                manual_name: None,
                format: Some("Unsigned"),
                field_formats: [],
                height_scaling_factor: None,
                analog: None,
            )),
            (260): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "dut",
                            "u_rx_dut",
                            "u_sync",
                        ],
                        id: Wellen((116)),
                    ),
                    name: "m_mag",
                    id: Wellen((1491)),
                    index: None,
                ),
                color: None,
                background_color: None,
                display_name: "m_mag [7:0]",
                display_name_type: Unique,
                manual_name: None,
                format: Some("Unsigned"),
                field_formats: [],
                height_scaling_factor: Some(2.0),
                analog: Some((
                    settings: (
                        render_style: Interpolated,
                        y_axis_scale: Viewport,
                    ),
                )),
            )),
            (304): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "dut",
                            "u_rx_dut",
                            "u_sync",
                        ],
                        id: Wellen((116)),
                    ),
                    name: "gain",
                    id: Wellen((1465)),
                    index: None,
                ),
                color: None,
                background_color: None,
                display_name: "gain [3:0]",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
                height_scaling_factor: None,
                analog: None,
            )),
            (327): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "dut",
                            "u_rx_dut",
                            "u_eq",
                        ],
                        id: Wellen((9)),
                    ),
                    name: "h_re",
                    id: Wellen((152)),
                    index: None,
                ),
                color: None,
                background_color: None,
                display_name: "h_re [15:0]",
                display_name_type: Unique,
                manual_name: None,
                format: Some("Signed"),
                field_formats: [],
                height_scaling_factor: Some(2.0),
                analog: Some((
                    settings: (
                        render_style: Interpolated,
                        y_axis_scale: Viewport,
                    ),
                )),
            )),
            (368): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "dut",
                            "u_rx_dut",
                            "u_eq",
                            "u_ls",
                        ],
                        id: Wellen((14)),
                    ),
                    name: "o_re",
                    id: Wellen((244)),
                    index: None,
                ),
                color: None,
                background_color: None,
                display_name: "o_re [15:0]",
                display_name_type: Unique,
                manual_name: None,
                format: Some("Unsigned"),
                field_formats: [],
                height_scaling_factor: None,
                analog: None,
            )),
            (222): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "dut",
                        ],
                        id: Wellen((3)),
                    ),
                    name: "o_loop_im",
                    id: Wellen((22)),
                    index: None,
                ),
                color: None,
                background_color: None,
                display_name: "o_loop_im [11:0]",
                display_name_type: Unique,
                manual_name: None,
                format: Some("Signed"),
                field_formats: [],
                height_scaling_factor: Some(4.0),
                analog: Some((
                    settings: (
                        render_style: Interpolated,
                        y_axis_scale: Viewport,
                    ),
                )),
            )),
            (221): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "dut",
                        ],
                        id: Wellen((3)),
                    ),
                    name: "o_loop_re",
                    id: Wellen((21)),
                    index: None,
                ),
                color: None,
                background_color: None,
                display_name: "o_loop_re [11:0]",
                display_name_type: Unique,
                manual_name: None,
                format: Some("Signed"),
                field_formats: [],
                height_scaling_factor: Some(4.0),
                analog: Some((
                    settings: (
                        render_style: Interpolated,
                        y_axis_scale: Viewport,
                    ),
                )),
            )),
        },
        display_item_ref_counter: 377,
        viewports: [
            (
                curr_left: (-0.2),
                curr_right: (1.2),
                target_left: (0.0),
                target_right: (1.0),
                move_start_left: (0.0),
                move_start_right: (1.0),
                move_duration: None,
                move_strategy: Instant,
            ),
        ],
        cursor: Some((1, [
            2659853903,
        ])),
        markers: {},
        focused_item: Some((15)),
        focused_transaction: (None, None),
        default_variable_name_type: Unique,
        scroll_offset: 0.0,
        display_variable_indices: true,
        graphics: {},
    )),
    drag_started: false,
    drag_source_idx: None,
    drag_target_idx: Some((
        before: (13),
        level: 0,
    )),
    previous_waves: None,
    count: None,
    blacklisted_translators: [],
    show_about: false,
    show_keys: false,
    show_gestures: false,
    show_quick_start: false,
    show_license: false,
    show_performance: false,
    show_logs: false,
    show_cursor_window: false,
    frame_buffer: {
        "pixels_per_row": 16,
        "square_pixels": true,
        "color_mode": Grayscale,
        "grayscale_bits": 1,
        "r_bits": 3,
        "g_bits": 3,
        "b_bits": 2,
        "y_bits": 8,
        "cb_bits": 8,
        "cr_bits": 8,
    },
    wanted_timeunit: PicoSeconds,
    time_string_format: None,
    show_url_entry: false,
    variable_name_filter_focused: false,
    variable_filter: (
        name_filter_type: Contain,
        name_filter_str: "sel",
        name_filter_case_insensitive: true,
        include_inputs: true,
        include_outputs: true,
        include_inouts: true,
        include_others: true,
        group_by_direction: false,
    ),
    sidepanel_width: Some(300.0),
    ui_zoom_factor: None,
    animation_enabled: None,
    use_dinotrace_style: None,
    transition_value: None,
)