(
    show_hierarchy: None,
    show_menu: None,
    show_ticks: None,
    show_toolbar: None,
    show_tooltip: None,
    show_scope_tooltip: None,
    show_default_timeline: None,
    show_overview: None,
    show_statusbar: None,
    align_names_right: None,
    show_variable_indices: None,
    show_variable_direction: None,
    show_empty_scopes: None,
    show_hierarchy_icons: None,
    show_parameters_in_scopes: None,
    parameter_display_location: None,
    highlight_focused: None,
    fill_high_values: None,
    primary_button_drag_behavior: None,
    arrow_key_bindings: None,
    clock_highlight_type: None,
    hierarchy_style: None,
    autoload_sibling_state_files: None,
    autoreload_files: None,
    waves: Some((
        source: File("wave.fst"),
        format: Fst,
        active_scope: Some(WaveScope((
            strs: [
                "dut",
                "u_rx_dut",
                "u_fft",
                "u_fft_1024",
                "u_sdf3",
                "gen_twiddle",
                "u_tw",
            ],
            id: Wellen((87)),
        ))),
        items_tree: (
            items: [
                (
                    item_ref: (221),
                    level: 0,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (222),
                    level: 0,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (260),
                    level: 0,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (304),
                    level: 0,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (237),
                    level: 0,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (238),
                    level: 0,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (293),
                    level: 0,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (294),
                    level: 0,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (287),
                    level: 0,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (288),
                    level: 0,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (298),
                    level: 0,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (299),
                    level: 0,
                    unfolded: true,
                    selected: false,
                ),
            ],
        ),
        displayed_items: {
            (287): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "dut",
                            "u_rx_dut",
                            "u_eq",
                        ],
                        id: Wellen((9)),
                    ),
                    name: "p_re",
                    id: Wellen((172)),
                    index: None,
                ),
                color: None,
                background_color: None,
                display_name: "p_re [23:0]",
                display_name_type: Unique,
                manual_name: None,
                format: Some("Signed"),
                field_formats: [],
                height_scaling_factor: Some(2.0),
                analog: Some((
                    settings: (
                        render_style: Interpolated,
                        y_axis_scale: Viewport,
                    ),
                )),
            )),
            (222): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "dut",
                        ],
                        id: Wellen((3)),
                    ),
                    name: "o_loop_im",
                    id: Wellen((22)),
                    index: None,
                ),
                color: None,
                background_color: None,
                display_name: "o_loop_im [11:0]",
                display_name_type: Unique,
                manual_name: None,
                format: Some("Signed"),
                field_formats: [],
                height_scaling_factor: Some(4.0),
                analog: Some((
                    settings: (
                        render_style: Interpolated,
                        y_axis_scale: Viewport,
                    ),
                )),
            )),
            (237): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "dut",
                            "u_rx_dut",
                            "u_eq",
                        ],
                        id: Wellen((9)),
                    ),
                    name: "h_re",
                    id: Wellen((150)),
                    index: None,
                ),
                color: None,
                background_color: None,
                display_name: "h_re [15:0]",
                display_name_type: Unique,
                manual_name: None,
                format: Some("Signed"),
                field_formats: [],
                height_scaling_factor: Some(2.0),
                analog: Some((
                    settings: (
                        render_style: Interpolated,
                        y_axis_scale: Viewport,
                    ),
                )),
            )),
            (288): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "dut",
                            "u_rx_dut",
                            "u_eq",
                        ],
                        id: Wellen((9)),
                    ),
                    name: "p_im",
                    id: Wellen((173)),
                    index: None,
                ),
                color: None,
                background_color: None,
                display_name: "p_im [23:0]",
                display_name_type: Unique,
                manual_name: None,
                format: Some("Signed"),
                field_formats: [],
                height_scaling_factor: Some(2.0),
                analog: Some((
                    settings: (
                        render_style: Interpolated,
                        y_axis_scale: Viewport,
                    ),
                )),
            )),
            (298): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "dut",
                            "u_rx_dut",
                            "u_eq",
                        ],
                        id: Wellen((9)),
                    ),
                    name: "ls_re",
                    id: Wellen((148)),
                    index: None,
                ),
                color: None,
                background_color: None,
                display_name: "ls_re [15:0]",
                display_name_type: Unique,
                manual_name: None,
                format: Some("Signed"),
                field_formats: [],
                height_scaling_factor: Some(2.0),
                analog: Some((
                    settings: (
                        render_style: Interpolated,
                        y_axis_scale: Viewport,
                    ),
                )),
            )),
            (294): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "dut",
                            "u_rx_dut",
                            "u_eq",
                        ],
                        id: Wellen((9)),
                    ),
                    name: "d_im",
                    id: Wellen((161)),
                    index: None,
                ),
                color: None,
                background_color: None,
                display_name: "d_im [15:0]",
                display_name_type: Unique,
                manual_name: None,
                format: Some("Signed"),
                field_formats: [],
                height_scaling_factor: Some(2.0),
                analog: Some((
                    settings: (
                        render_style: Interpolated,
                        y_axis_scale: Viewport,
                    ),
                )),
            )),
            (221): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "dut",
                        ],
                        id: Wellen((3)),
                    ),
                    name: "o_loop_re",
                    id: Wellen((21)),
                    index: None,
                ),
                color: None,
                background_color: None,
                display_name: "o_loop_re [11:0]",
                display_name_type: Unique,
                manual_name: None,
                format: Some("Signed"),
                field_formats: [],
                height_scaling_factor: Some(4.0),
                analog: Some((
                    settings: (
                        render_style: Interpolated,
                        y_axis_scale: Viewport,
                    ),
                )),
            )),
            (238): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "dut",
                            "u_rx_dut",
                            "u_eq",
                        ],
                        id: Wellen((9)),
                    ),
                    name: "h_im",
                    id: Wellen((151)),
                    index: None,
                ),
                color: None,
                background_color: None,
                display_name: "h_im [15:0]",
                display_name_type: Unique,
                manual_name: None,
                format: Some("Signed"),
                field_formats: [],
                height_scaling_factor: Some(2.0),
                analog: Some((
                    settings: (
                        render_style: Interpolated,
                        y_axis_scale: Viewport,
                    ),
                )),
            )),
            (293): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "dut",
                            "u_rx_dut",
                            "u_eq",
                        ],
                        id: Wellen((9)),
                    ),
                    name: "d_re",
                    id: Wellen((160)),
                    index: None,
                ),
                color: None,
                background_color: None,
                display_name: "d_re [15:0]",
                display_name_type: Unique,
                manual_name: None,
                format: Some("Signed"),
                field_formats: [],
                height_scaling_factor: Some(2.0),
                analog: Some((
                    settings: (
                        render_style: Interpolated,
                        y_axis_scale: Viewport,
                    ),
                )),
            )),
            (260): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "dut",
                            "u_rx_dut",
                            "u_sync",
                        ],
                        id: Wellen((114)),
                    ),
                    name: "m_mag",
                    id: Wellen((1473)),
                    index: None,
                ),
                color: None,
                background_color: None,
                display_name: "m_mag [7:0]",
                display_name_type: Unique,
                manual_name: None,
                format: Some("Unsigned"),
                field_formats: [],
                height_scaling_factor: Some(2.0),
                analog: Some((
                    settings: (
                        render_style: Interpolated,
                        y_axis_scale: Viewport,
                    ),
                )),
            )),
            (299): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "dut",
                            "u_rx_dut",
                            "u_eq",
                        ],
                        id: Wellen((9)),
                    ),
                    name: "ls_im",
                    id: Wellen((149)),
                    index: None,
                ),
                color: None,
                background_color: None,
                display_name: "ls_im [15:0]",
                display_name_type: Unique,
                manual_name: None,
                format: Some("Signed"),
                field_formats: [],
                height_scaling_factor: Some(2.0),
                analog: Some((
                    settings: (
                        render_style: Interpolated,
                        y_axis_scale: Viewport,
                    ),
                )),
            )),
            (304): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "dut",
                            "u_rx_dut",
                            "u_sync",
                        ],
                        id: Wellen((114)),
                    ),
                    name: "gain",
                    id: Wellen((1447)),
                    index: None,
                ),
                color: None,
                background_color: None,
                display_name: "gain [3:0]",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
                height_scaling_factor: None,
                analog: None,
            )),
        },
        display_item_ref_counter: 308,
        viewports: [
            (
                curr_left: (0.9418342054105129),
                curr_right: (0.9885567875574849),
                target_left: (0.0),
                target_right: (1.0),
                move_start_left: (0.0),
                move_start_right: (1.0),
                move_duration: None,
                move_strategy: Instant,
            ),
        ],
        cursor: Some((1, [
            2501640000,
        ])),
        markers: {},
        focused_item: Some((11)),
        focused_transaction: (None, None),
        default_variable_name_type: Unique,
        scroll_offset: 0.0,
        display_variable_indices: true,
        graphics: {},
    )),
    drag_started: false,
    drag_source_idx: None,
    drag_target_idx: None,
    previous_waves: None,
    count: None,
    blacklisted_translators: [],
    show_about: false,
    show_keys: false,
    show_gestures: false,
    show_quick_start: false,
    show_license: false,
    show_performance: false,
    show_logs: false,
    show_cursor_window: false,
    frame_buffer: {
        "pixels_per_row": 16,
        "square_pixels": true,
        "color_mode": Grayscale,
        "grayscale_bits": 1,
        "r_bits": 3,
        "g_bits": 3,
        "b_bits": 2,
        "y_bits": 8,
        "cb_bits": 8,
        "cr_bits": 8,
    },
    wanted_timeunit: PicoSeconds,
    time_string_format: None,
    show_url_entry: false,
    variable_name_filter_focused: false,
    variable_filter: (
        name_filter_type: Contain,
        name_filter_str: "dbg",
        name_filter_case_insensitive: true,
        include_inputs: true,
        include_outputs: true,
        include_inouts: true,
        include_others: true,
        group_by_direction: false,
    ),
    sidepanel_width: Some(300.0),
    ui_zoom_factor: None,
    animation_enabled: None,
    use_dinotrace_style: None,
    transition_value: None,
)