(
    show_hierarchy: None,
    show_menu: None,
    show_ticks: None,
    show_toolbar: None,
    show_tooltip: None,
    show_scope_tooltip: None,
    show_default_timeline: None,
    show_overview: None,
    show_statusbar: None,
    align_names_right: None,
    show_variable_indices: None,
    show_variable_direction: None,
    show_empty_scopes: None,
    show_hierarchy_icons: None,
    show_parameters_in_scopes: None,
    parameter_display_location: None,
    highlight_focused: None,
    fill_high_values: None,
    primary_button_drag_behavior: None,
    arrow_key_bindings: None,
    clock_highlight_type: None,
    hierarchy_style: None,
    autoload_sibling_state_files: None,
    autoreload_files: None,
    waves: Some((
        source: File("wave.fst"),
        format: Fst,
        active_scope: Some(WaveScope((
            strs: [
                "dut",
                "u_dut",
                "u_eq",
            ],
            id: Wellen((8)),
        ))),
        items_tree: (
            items: [
                (
                    item_ref: (1),
                    level: 0,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (2),
                    level: 0,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (3),
                    level: 0,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (4),
                    level: 0,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (5),
                    level: 0,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (7),
                    level: 0,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (141),
                    level: 0,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (147),
                    level: 0,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (148),
                    level: 0,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (145),
                    level: 0,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (149),
                    level: 0,
                    unfolded: true,
                    selected: true,
                ),
                (
                    item_ref: (150),
                    level: 0,
                    unfolded: true,
                    selected: false,
                ),
            ],
        ),
        displayed_items: {
            (145): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "dut",
                            "u_dut",
                            "u_eq",
                        ],
                        id: Wellen((8)),
                    ),
                    name: "k",
                    id: Wellen((145)),
                    index: None,
                ),
                color: None,
                background_color: None,
                display_name: "k [4:0]",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
                height_scaling_factor: None,
                analog: None,
            )),
            (4): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "dut",
                            "u_dut",
                            "u_sync",
                        ],
                        id: Wellen((99)),
                    ),
                    name: "boundary",
                    id: Wellen((1254)),
                    index: None,
                ),
                color: Some("Gray"),
                background_color: None,
                display_name: "boundary",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
                height_scaling_factor: None,
                analog: None,
            )),
            (149): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "dut",
                            "u_dut",
                            "u_eq",
                        ],
                        id: Wellen((8)),
                    ),
                    name: "s_re",
                    id: Wellen((173)),
                    index: None,
                ),
                color: None,
                background_color: None,
                display_name: "s_re [42:0]",
                display_name_type: Unique,
                manual_name: None,
                format: Some("Binary"),
                field_formats: [],
                height_scaling_factor: Some(2.0),
                analog: Some((
                    settings: (
                        render_style: Interpolated,
                        y_axis_scale: Viewport,
                    ),
                )),
            )),
            (150): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "dut",
                            "u_dut",
                            "u_eq",
                        ],
                        id: Wellen((8)),
                    ),
                    name: "k_3",
                    id: Wellen((172)),
                    index: None,
                ),
                color: None,
                background_color: None,
                display_name: "k_3 [4:0]",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
                height_scaling_factor: None,
                analog: None,
            )),
            (3): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "dut",
                            "u_dut",
                            "u_sync",
                        ],
                        id: Wellen((99)),
                    ),
                    name: "m_mag",
                    id: Wellen((1247)),
                    index: None,
                ),
                color: Some("Yellow"),
                background_color: None,
                display_name: "m_mag [7:0]",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
                height_scaling_factor: Some(4.0),
                analog: Some((
                    settings: (
                        render_style: Interpolated,
                        y_axis_scale: Viewport,
                    ),
                )),
            )),
            (148): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "dut",
                            "u_dut",
                            "u_eq",
                        ],
                        id: Wellen((8)),
                    ),
                    name: "norm_den",
                    id: Wellen((146)),
                    index: None,
                ),
                color: None,
                background_color: None,
                display_name: "norm_den [29:0]",
                display_name_type: Unique,
                manual_name: None,
                format: Some("Binary"),
                field_formats: [],
                height_scaling_factor: Some(4.0),
                analog: Some((
                    settings: (
                        render_style: Interpolated,
                        y_axis_scale: Viewport,
                    ),
                )),
            )),
            (141): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "dut",
                            "u_dut",
                            "u_eq",
                        ],
                        id: Wellen((8)),
                    ),
                    name: "h_den",
                    id: Wellen((143)),
                    index: None,
                ),
                color: None,
                background_color: None,
                display_name: "h_den [29:0]",
                display_name_type: Unique,
                manual_name: None,
                format: Some("Binary"),
                field_formats: [],
                height_scaling_factor: Some(4.0),
                analog: Some((
                    settings: (
                        render_style: Interpolated,
                        y_axis_scale: Viewport,
                    ),
                )),
            )),
            (7): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "dut",
                            "u_dut",
                            "u_sync",
                        ],
                        id: Wellen((99)),
                    ),
                    name: "gain",
                    id: Wellen((1221)),
                    index: None,
                ),
                color: None,
                background_color: None,
                display_name: "gain [3:0]",
                display_name_type: Unique,
                manual_name: None,
                format: Some("Unsigned"),
                field_formats: [],
                height_scaling_factor: None,
                analog: None,
            )),
            (2): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "dut",
                            "u_dut",
                        ],
                        id: Wellen((4)),
                    ),
                    name: "i_im",
                    id: Wellen((20)),
                    index: None,
                ),
                color: Some("Gray"),
                background_color: None,
                display_name: "i_im [11:0]",
                display_name_type: Unique,
                manual_name: None,
                format: Some("Signed fixed point"),
                field_formats: [],
                height_scaling_factor: Some(2.0),
                analog: Some((
                    settings: (
                        render_style: Interpolated,
                        y_axis_scale: Viewport,
                    ),
                )),
            )),
            (147): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "dut",
                            "u_dut",
                            "u_eq",
                        ],
                        id: Wellen((8)),
                    ),
                    name: "norm_rec",
                    id: Wellen((147)),
                    index: None,
                ),
                color: None,
                background_color: None,
                display_name: "norm_rec [17:0]",
                display_name_type: Unique,
                manual_name: None,
                format: Some("Unsigned"),
                field_formats: [],
                height_scaling_factor: Some(4.0),
                analog: Some((
                    settings: (
                        render_style: Interpolated,
                        y_axis_scale: Viewport,
                    ),
                )),
            )),
            (5): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "dut",
                            "u_dut",
                        ],
                        id: Wellen((4)),
                    ),
                    name: "sync_idx",
                    id: Wellen((26)),
                    index: None,
                ),
                color: None,
                background_color: None,
                display_name: "sync_idx [10:0]",
                display_name_type: Unique,
                manual_name: None,
                format: Some("Unsigned"),
                field_formats: [],
                height_scaling_factor: None,
                analog: None,
            )),
            (1): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "dut",
                            "u_dut",
                        ],
                        id: Wellen((4)),
                    ),
                    name: "i_re",
                    id: Wellen((19)),
                    index: None,
                ),
                color: Some("Gray"),
                background_color: None,
                display_name: "i_re [11:0]",
                display_name_type: Unique,
                manual_name: None,
                format: Some("Signed fixed point"),
                field_formats: [],
                height_scaling_factor: Some(2.0),
                analog: Some((
                    settings: (
                        render_style: Interpolated,
                        y_axis_scale: Viewport,
                    ),
                )),
            )),
        },
        display_item_ref_counter: 150,
        viewports: [
            (
                curr_left: (0.2398141639506901),
                curr_right: (0.2399096781718644),
                target_left: (0.0),
                target_right: (1.0),
                move_start_left: (0.0),
                move_start_right: (1.0),
                move_duration: None,
                move_strategy: Instant,
            ),
        ],
        cursor: Some((1, [
            1038700000,
        ])),
        markers: {},
        focused_item: Some((10)),
        focused_transaction: (None, None),
        default_variable_name_type: Unique,
        scroll_offset: 0.0,
        display_variable_indices: true,
        graphics: {},
    )),
    drag_started: false,
    drag_source_idx: None,
    drag_target_idx: None,
    previous_waves: None,
    count: None,
    blacklisted_translators: [],
    show_about: false,
    show_keys: false,
    show_gestures: false,
    show_quick_start: false,
    show_license: false,
    show_performance: false,
    show_logs: false,
    show_cursor_window: false,
    frame_buffer: {
        "pixels_per_row": 16,
        "square_pixels": true,
        "color_mode": Grayscale,
        "grayscale_bits": 1,
        "r_bits": 3,
        "g_bits": 3,
        "b_bits": 2,
        "y_bits": 8,
        "cb_bits": 8,
        "cr_bits": 8,
    },
    wanted_timeunit: PicoSeconds,
    time_string_format: None,
    show_url_entry: false,
    variable_name_filter_focused: false,
    variable_filter: (
        name_filter_type: Contain,
        name_filter_str: "k_3",
        name_filter_case_insensitive: true,
        include_inputs: true,
        include_outputs: true,
        include_inouts: true,
        include_others: true,
        group_by_direction: false,
    ),
    sidepanel_width: Some(300.0),
    ui_zoom_factor: None,
    animation_enabled: None,
    use_dinotrace_style: None,
    transition_value: None,
)
